[build-system]
requires = [ "poetry>=0.12",]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "python-simpleconf"
version = "0.3.2"
description = "Simple configuration management with python."
authors = [ "pwwang <pwwang@pwwang.com>",]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/pwwang/simpleconf"
repository = "https://github.com/pwwang/simpleconf"
[[tool.poetry.packages]]
include = "simpleconf.py"

[tool.poetry.dependencies]
python = "^3.6"
diot = "*"

[tool.poetry.dev-dependencies]
pytest = "*"
pytest-cov = "*"

[tool.poetry.extras]
dotenv = [ "python-dotenv",]
yaml = [ "pyyaml",]
toml = [ "toml",]

[tool.poetry.dependencies.python-dotenv]
version = "*"
optional = true

[tool.poetry.dependencies.pyyaml]
version = "*"
optional = true

[tool.poetry.dependencies.toml]
version = "*"
optional = true
