[build-system]
requires = [ "poetry>=0.12",]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "python-simpleconf"
version = "0.4.1"
description = "Simple configuration management with python."
authors = [ "pwwang <pwwang@pwwang.com>",]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/pwwang/simpleconf"
repository = "https://github.com/pwwang/simpleconf"
[[tool.poetry.packages]]
include = "simpleconf.py"

[tool.poetry.dependencies]
python = "^3.6"
diot = "*"
python-dotenv = { version="*", optional = true}
pyyaml = { version="*", optional = true}
tomli = {version = "^1.2.2", optional = true}

[tool.poetry.extras]
dotenv = [ "python-dotenv",]
yaml = [ "pyyaml",]

[tool.poetry.dev-dependencies]
pytest = "*"
pytest-cov = "*"

[tool.pytest.ini_options]
addopts = "-vv --cov=simpleconf --cov-report xml:cov.xml --cov-report term-missing"
filterwarnings = [
    "error"
]
console_output_style = "progress"
junit_family = "xunit1"

[tool.black]
line-length = 80
target-version = ['py37', 'py38', 'py39']
include = '\.pyi?$'
